<ion-content class="home">
  <div class="home__inner">
    <section class="brand">
      <span class="brand__orb" aria-hidden="true"></span>
      <h1 class="brand__wordmark">{{ appName }}</h1>
      <p class="brand__tagline">{{ tagline }}</p>
      <p class="brand__quote">Read the signs. Ask the cards. Discover your sky.</p>
    </section>

    <section class="home__cta">
      <a class="home__cta-button" routerLink="/read">Choose a reading</a>
      @if (!isAuthenticated()) {
        <p class="home__hint">Sign in to save your readings to your journal.</p>
      }
    </section>
  </div>
</ion-content>
